.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
}
.THIS .itau-orange-color
{
    background-color:#EC7000;
}
.THIS .button-size{
    width:100px;
}
.THIS .demo-only{
    background-color:#EC7000;
}