.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
  width:100px;
}

.THIS .itau-pattern-button:disabled
{
  background-color: #D9D3CF;
  color: #969297;
  width:100px;
}

.THIS .itau-pattern-button:disabled:hover
{
  background-color: #D9D3CF;
  color: #969297;
  width:100px;
}

.THIS .itau-pattern-button:hover
{
  background-color: #EF8B30;
  color: white;
  width:100px;
}

.THIS .slds-accordion__summary-heading {
    background-color:#F5F5F5;
}

.THIS .button-size{
    width:100px;
}

.THIS .itau-header-title
{
  color:#0070d2;
}

.THIS .itau-orange-color
{
    background-color:#EC7000;
}

.THIS .iconSize svg {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.THIS .itau-padding  
{  
  padding-left: 30px;
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;  
} 

.THIS .itau-space
{  
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;   
}