.THIS .slds-button.btns-together{
    margin-left: 0;
}

.THIS .slds-icon-standard-account{
    height: fit-content;    
}

.THIS .compact-title{
    font-size: 18px;
}

.THIS .compact-label{
    line-height: 13px;
    font-size: 12px;
}

.THIS .slds-card__body{
    margin: 0;
}

.THIS .compact-value{
    line-height: 23px;
    font-size: 14px;
    
}

.THIS .firstLine{
    background: #F3F2F2;
}

.THIS .slds-card__header{
    display: none;
}

.THIS .btns-together__edit{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.THIS .btns-together__delete{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.THIS .btn-close{
    box-shadow: none;
    border: 0;
}

.THIS .slds-button:focus{
    box-shadow: none;
}

.THIS .modal{
    width: 70%;
	max-width: 950px;
	min-width: 480px;
    margin: auto;
}

.THIS .modal-labels{
	display: flex;
    justify-content: center;
    place-self: center;
    margin-top: 10px;
    
}

.THIS .modal-inputs-container{
    align-items: center;
}
.THIS .icon-user{
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 5px;
}

.THIS .icon-user svg{
    width: 12px;
}
.THIS .owner-link{
    border-bottom: 1px dotted;
    text-decoration: none;
}

.THIS .forceDisplayFlex{
    display: flex !important;
}

.THIS .header_title lightning-formatted-text{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
}

.THIS .icon-user{
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 5px;
}

.THIS .icon-user svg{
    width: 12px;
}

.THIS .owner-link{
    border-bottom: 1px dotted;
    text-decoration: none;
}

.THIS .owner-link:hover,
.THIS .owner-link:hover a{
    text-decoration: none;
}

.THIS .slds-truncate{
    display: flex;
}