.THIS .itau-pattern-button
{
background-color: #EC7000;
color:white;
}

.THIS .iconSize svg 
{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.THIS .iconSizeUpload svg 
{
    width: 1.875rem;
    height: 1.875rem;
}

.THIS .itau-orange-color
{
    background-color:#EC7000;
}

.THIS .itau-header-title
{
  color:#0070d2;
}

.THIS .itau-table-header
{
    color:#EC7000;
    font-weight: bold;
}

.THIS .itau-header-padding
{
    padding-left: 8.33%;
}

.THIS .itau-pattern-button
{
    background-color: #EC7000;
    color:white;
    width: 100px;
}

.THIS .itau-pattern-button:disabled
{
    background-color: #D9D3CF;
    color: #969297;
    width: 100px;
}

.THIS .itau-pattern-button:disabled:hover
{
    background-color: #D9D3CF;
    color: #969297;
    width: 100px;
}

.THIS .itau-pattern-button:hover
{
    background-color: #EF8B30;
    color: white;
    width: 100px;
}

.THIS .slds-radio_faux:after
{
    background-color: #EC7000 !important;
}

.THIS .icon-top-padding
{
    padding-top: 28px;
}

.THIS .itau-radio-padding
{
    padding-bottom: 22px;
    padding-top: 20px;
}

.THIS .itau-radio-button
{
    padding-left: 40%;
}

.THIS .row-background-hover:hover
{
  background-color: #ededed;
}