.THIS .slds-accordion__summary-heading {
    background-color:#F5F5F5;
    padding: 8px;
    border-radius: 5px;
}

.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
}

.THIS .itau-pattern-button:disabled
{
  background-color: #D9D3CF;
  color: #969297;
}

.THIS .itau-pattern-button:disabled:hover
{
  background-color: #D9D3CF;
  color: #969297;
}

.THIS .itau-pattern-button:hover
{
  background-color: #EF8B30;
  color: white;
}