.THIS .itau-pattern-button
{
    background-color: #EC7000;
    color:white;
    width: 100px;
}

.THIS .itau-pattern-button:disabled
{
    background-color: #D9D3CF;
    color: #969297;
    width: 100px;
}

.THIS .itau-pattern-button:disabled:hover
{
    background-color: #D9D3CF;
    color: #969297;
    width: 100px;
}

.THIS .itau-pattern-button:hover
{
    background-color: #EF8B30;
    color: white;
    width: 100px;
}

.THIS .labelStyle{
    color: #3E3E3C;
    font: 12px;
    font-family: Salesforce Sans, Arial, sans-serif;
}

.THIS .slds-accordion__summary-heading {
    background-color:#F5F5F5;
    padding: 8px;
    border-radius: 5px;
}

.THIS .button-size{
    width:100px;
}

.THIS .itau-header-title
{
  color:#0070d2;
}

.THIS .headerTextBackgroundColor {
 color: rgb(112, 110, 107);
}

.THIS .header-date-time-desktop
{
    font-size : 12px;
    padding-bottom: 2px;
    padding-top: 4px;
    color: #3E3E3C;
}

.THIS .header-date-time-mobile
{
    font-size : 14px;
    padding-bottom: 7px;
    padding-top: 4px;
    color: #3E3E3C;
}

.THIS .iconSize svg {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.THIS .iconSizeUpload svg {
    width: 1.875rem;
    height: 1.875rem;
}

.THIS .spinnerDesktop
{
    height: 1225px !important;
}