.THIS .wrapping { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;

}
.THIS lightning-icon.some-indicator-critica > lightning-primitive-icon > svg > use{
  fill: #a10000;
}
.THIS lightning-icon.some-indicator-urgente > lightning-primitive-icon > svg > use{
  fill: #ce0000;
}
.THIS lightning-icon.some-indicator-alta > lightning-primitive-icon > svg > use{
    fill: #ff3232;
}
.THIS lightning-icon.some-indicator-media > lightning-primitive-icon > svg > use{
    fill: yellow;
}
.THIS lightning-icon.some-indicator-baixa > lightning-primitive-icon > svg > use{
    fill: green;
}

.THIS .checkbox-itau
{
  border-color: #8190F0;
  fill: #8190f0;
}

.THIS .not-found
{
  height: 30px;
}

.THIS .ciente
{
  color: #0070d2;
}

.THIS .itau-pattern-color
{
  font-weight: bold;
  color: #EC7000;
}

.THIS .prioridade-Critica
{
  color: #a10000;
}

.THIS .prioridade-Urgente
{
  color: #ce0000;
}

.THIS .prioridade-Alta
{
  color: #ff3232;
}

.THIS .prioridade-Media
{
  color: yellow;
}

.THIS .prioridade-Baixa
{
  color: green;
}

.THIS .brand-blue
{
  background-color:#0070d2;
  border-color:#0070d2;
  color: #fff;
}

.THIS .brand-blue:disabled
{
  background: #c9c7c5;
  border-color: #c9c7c5;
  color: #fff;
}

.THIS .neutral-white
{
  color: #0070d2;
}

.THIS .neutral-white:disabled
{
  color: #dddbda;
  background-color: #fff;
  border-color: #dddbda;
}

@media (max-width: 48em){
     .THIS .slds-max-medium-table_stacked-horizontal tr>td:first-child, .THIS .slds-max-medium-table_stacked-horizontal tr>td:last-child, .THIS .slds-max-medium-table--stacked-horizontal tr>td:first-child, .THIS .slds-max-medium-table--stacked-horizontal tr>td:last-child, .THIS .slds-max-medium-table_stacked-horizontal th, .THIS .slds-max-medium-table_stacked-horizontal td, .THIS .slds-max-medium-table--stacked-horizontal th, .THIS .slds-max-medium-table--stacked-horizontal td{
        padding:0.15rem;
        text-align: left;
    }

    .THIS .slds-max-medium-table_stacked-horizontal tr:nth-child(even) {
      background-color: #f7f7f7;
    }

    .THIS .slds-max-medium-table_stacked-horizontal tr>td:last-child {
      padding-bottom: 0.5em;
    }

    .THIS.scrollerSize {
        height: 100%;
    }

}