.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
  font-size: 100%;           
} 
.THIS .itau-orange-color
{
    background-color:#EC7000;
}
.THIS .button-size{
    width:10%;    
}