.THIS .new-contact .slds-button, .THIS .details-contact .slds-button{
    height: 20px;
    width: 20px;
}

.THIS.advogados-title .slds-text-heading_small{
    font-weight: bold;
    font-size: 14px;
}

.THIS .footer{
    border: solid .8px #dddbda;
    margin: 11px 50px;
}

.THIS .exibir{
    text-align: center;
}