.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
}

.THIS .itau-pattern-button:disabled
{
  background-color: #D9D3CF;
  color: #969297;
}

.THIS .itau-pattern-button:disabled:hover
{
  background-color: #D9D3CF;
  color: #969297;
}

.THIS .itau-pattern-button:hover
{
  background-color: #EF8B30;
  color: white;
}
 
.THIS .slds-textarea {
    height:100px !important;
}

.THIS .itau-header-space
{
    padding-bottom: 10px;
}

.THIS .itau-header-title
{
    padding-top: 10px;
}

.THIS .slds-media__body
{
  flex: none;
}