.THIS .itau-pattern-button
{
  background-color: #EC7000;
  color:white;
  font-size:90%;  
}
.THIS .itau-orange-color
{
    background-color:#EC7000;
}
.THIS .button-size{
    width:10%; 
}
.THIS .slds-text-heading_medium{
    color:#EC7000;  
}